<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305679629499-js50e20nfi0phidua1sl5paji29hse4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305679629499-js50e20nfi0phidua1sl5paji29hse4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305679629499-quetf16eia6dtd4firq9j5b6q8jj1gl8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9LMBBjacnXWV1RWORXZawlM6u6qnrerg</string>
	<key>GCM_SENDER_ID</key>
	<string>305679629499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.followapp</string>
	<key>PROJECT_ID</key>
	<string>follow-app-gdansk</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-app-gdansk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305679629499:ios:58a976c0c3a648c4</string>
	<key>DATABASE_URL</key>
	<string>https://follow-app-gdansk.firebaseio.com</string>
</dict>
</plist>